* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   user-select: none;
}

/* header */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 30px;
   background-color: #151858;
   color: white;
}

header p {
   font-size: 1.5rem;
   font-weight: bold;
}

header input {
   padding: 10px;
   border-radius: 5px;
   border: none;
   outline: none;
   margin-right: 15px;
   width: 300px;
}

header div {
   display: flex;
   align-items: center;
   gap: 15px;
}
header .search img {
   width: 30px;
}
/* main */
main {
   padding: 50px;
   background-color: #f4f4f4;
}

main ul {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
}

main ul li {
   background-color: #faf7ff;
   border-radius: 10px;
   width: 300px;
   height: 320px;
   padding: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}
main ul li:nth-child(2n) {
   background-color: #e9e9e9;
}

main ul li:hover {
   transform: translateY(-10px);
}

main ul li p {
   margin-bottom: 10px;
   color: #333;
   overflow: hidden;
   text-overflow: ellipsis;
}

main ul li p:first-child {
   font-size: 1.2rem;
   font-weight: bold;
   white-space: nowrap;
}

main ul li p:nth-child(2) {
   font-size: 1rem;
   color: #555;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

main ul li p:last-child {
   font-size: 0.9rem;
   color: #777;
   font-style: italic;
}

::backdrop {
   background-color: black;
   opacity: 0.75;
}

dialog {
   position: absolute;
   width: 600px;
   height: 400px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid black;
}
